a {
    font-size: 200%;
}

.test {
    color: yellow;
}

h1.test {
    font-size: 10em;
}

.container {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.pos-demo {
    position: absolute;
    margin-left: 80px;
    // margin-top: 20px; // Moves other elements down
    // top: 80px; // Doesn't move other elements
}
